{% extends 'base.html.twig' %}

{% block intro%}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% endblock intro %}
{% block javascripts %}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/public/CSS/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.js"></script>
    <script>
        $( function() {

            $( "#datepicker" ).datepicker({
                firstDay: 1,
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat: 'dd-mm-yy'
            });
        });
        {#$( function() {#}
        {#    function log( message ) {#}
        {#        $( "<div>" ).text( message ).prependTo( "#log" );#}
        {#        $( "#log" ).scrollTop( 0 );#}
        {#    }#}

        {#    $( "#affaires" ).autocomplete({#}
        {#        source: function( request, response ) {#}
        {#            $.ajax( {#}
        {#                url: {{ path('getProj')  }},#}
        {#                type: 'POST',#}
        {#                dataType: "jsonp",#}
        {#                data: {#}
        {#                    term: request.term#}

        {#                },#}
        {#                success: function( data ) {#}
        {#                    response( data );#}
        {#                    console.log(term);#}
        {#                },#}

        {#            } );#}
        {#            // console.log(request.term)#}

        {#        },#}
        {#        minLength: 2,#}
        {#        select: function( event, ui ) {#}
        {#            log( "Selected: " + ui.item.value + " aka " + ui.item.id );#}
        {#        }#}
        {#    } );#}
        {#} );#}

    </script>

{% endblock %}

{% block body %}
<body>
<div class="container">
    <h1 style="text-align: center">Générateur de convocation assurance entreprise</h1>
    <h4 style="text-align: center; color: red; text-decoration: blink">Attention! assurez vous de bien avoir renseigné le ou les contact(s) "Assureur"</h4>
    <br/>
    <div class="row justify-content-center" style="margin-left: auto; margin-right: auto">
    <form class="col-md-12"  action="{{ path('generateConvAss')}}" method="post">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="entreprise">Entreprise</label>
                <select class="form-control" name="entreprise" id="entreprise">
                    {% for entreprise in ese %}
                        <option value="{{entreprise.libelle }}">{{ entreprise.libelle ~ " " ~ entreprise.firstname ~ " " ~ entreprise.lastname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="assurance">Assurance</label>
                <select class="form-control" name="assurance" id="assurance">
                    {% for assurance in ass %}
                        <option value="{{assurance.libelle }}">{{ assurance.libelle ~ " " ~ assurance.firstname ~ " " ~ assurance.lastname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input type="text" value="{{ affaire }}" name="affaire" id="affaire" hidden>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="datepicker" > Date RDV</label>
                <input class="form-control" type="text" id="datepicker" name="datepicker" autocomplete="off" required>
            </div>
            <div class="form-group col-md-6">
                <label for="timepicker">Heure RDV</label>
                <select class="form-control" name="timepicker" id="timepicker" required>
                    <option selected value=""></option>
                    <option value="8h00">8h00</option>
                    <option value="8h15">8h15</option>
                    <option value="8h30">8h30</option>
                    <option value="8h45">8h45</option>
                    <option value="9h00">9h00</option>
                    <option value="9h15">9h15</option>
                    <option value="9h30">9h30</option>
                    <option value="9h45">9h45</option>
                    <option value="10h00">10h00</option>
                    <option value="10h15">10h15</option>
                    <option value="10h30">10h30</option>
                    <option value="10h45">10h45</option>
                    <option value="11h00">11h00</option>
                    <option value="11h15">11h15</option>
                    <option value="11h30">11h30</option>
                    <option value="11h45">11h45</option>
                    <option value="12h00">12h00</option>
                    <option value="12h15">12h15</option>
                    <option value="12h30">12h30</option>
                    <option value="12h45">12h45</option>
                    <option value="13h00">13h00</option>
                    <option value="13h15">13h15</option>
                    <option value="13h30">13h30</option>
                    <option value="13h45">13h45</option>
                    <option value="14h00">14h00</option>
                    <option value="14h15">14h15</option>
                    <option value="14h30">14h30</option>
                    <option value="14h45">14h45</option>
                    <option value="15h00">15h00</option>
                    <option value="15h15">15h15</option>
                    <option value="15h30">15h30</option>
                    <option value="15h45">15h45</option>
                    <option value="16h00">16h00</option>
                    <option value="16h15">16h15</option>
                    <option value="16h30">16h30</option>
                    <option value="16h45">16h45</option>
                    <option value="17h00">17h00</option>
                    <option value="17h15">17h15</option>
                    <option value="17h30">17h30</option>
                    <option value="17h45">17h45</option>
                    <option value="18h00">18h00</option>
                    <option value="18h15">18h15</option>
                    <option value="18h30">18h30</option>
                    <option value="18h45">18h45</option>
                    <option value="19h00">19h00</option>
                </select>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="expert" >Expert</label>
                <select class="form-control" name="expert" id="expert" required>
                    <option selected value=""></option>
                    <option value="GR">Geoffrey REISER</option>
                    <option value="JLB">Jean-Luc BEDEL</option>
                    <option value="SB">Stéphane BERTRAND</option>
                    <option value="JC">Jérémy CAPDEVILLE</option>
                    <option value="BCE">Bastien CARLES-ESPITAU</option>
                    <option value="PEC">Pierre-Emmanuel CAU</option>
                    <option value="MC">Mickaël CHAUMONT</option>
                    <option value="PC">Paul COLLINET</option>
                    <option value="NC">Nicolas COMET</option>
                    <option value="TC">Thierry COSTELLA</option>
                    <option value="OD">Olivier DAVID</option>
                    <option value="JD">Jérôme DECOR</option>
                    <option value="BE">Ben EL ASSIOUI</option>
                    <option value="AG">Alexandre GILBERT</option>
                    <option value="FM">Florian MAILHE</option>
                    <option value="LM">Laurent MONTARU</option>

                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="textelibre">Motifs mission</label>
                <textarea class="form-control" name="textelibre" id="textelibre" cols="60" rows="5" maxlength="480"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="vref">v/ref</label>
                <input class="form-control" name="vref" id="vref" type="text">
            </div>
            <div class="form-group col-md-6">
                <label for="dateDesordre">Date des désordres</label>
                <input class="form-control" name="dateDesordre" id="dateDesordre" type="text">
            </div>
        </div>
        <fieldset style="border: 2px black solid; padding: 15px">
            <legend>Traçage</legend>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="numReco">Numéro recommandé</label>
                    <input class="form-control" name="numReco" id="numReco">
                </div>
                <div class="form-group col-md-1">
                    <label for="">ou</label>
                </div>
                <div class="form-group col-md-5">
                    <label for="courriel">Courriel</label>
                    <input class="form-control" name="courriel" id="courriel">
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="interlocuteur">A l'attention de</label>
                <input class="form-control" name="interlocuteur" id="interlocuteur">
            </div>
            <div class="form-group col-md-4">
                <label for="dossier">Numéro de dossier</label>
                <input class="form-control" name="dossier" id="dossier" type="text">
            </div>
            <div class="form-group col-lg-4">
                <label for="pj">S'agit-il d'un Dossier PJ?</label>
                <select class="form-control" name="pj" id="pj">
                    <option value="oui">Oui</option>
                    <option value="non">Non</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-12">
                <label for="pieceJointe">Pièce(s) jointe(s) ( 3 MAXIMUM, sinon, tout sur une ligne.)</label>
                <textarea class="form-control" name="pieceJointe" id="pieceJointe" type="text"></textarea>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <input class="btn btn-primary btn-lg" type="submit" style="width: 100%" value="Générer">
            </div>
        </div>
    </form>
    </div>
</div>
</body>
</html>
{% endblock %}