<style type="text/css">

    #cadre {
        /*border: 1px solid #1b1b1b;*/
        margin: 5px;
        padding: 5px;
        height: 95%;
    }

    #noms   {
        text-align: left;
        padding-left: 400px;
        margin-top: 100px;
        line-height: normal;
        margin-bottom: 25px;
    }

    #ref {
        text-align: left;
        padding-left: 10px;
        height: 30px;
        width: 60%;
        font-size: 90%;
    }
    #date_exp, #adresse_exp {

        text-align: center;
    }
    #corps_texte {
        margin-left: 180px;
        margin-right: 40px;
        margin-top: 30px;
        text-align: justify;
        line-height: 150%;

    }
    td {
        border: solid 1px black
    }


</style>
<page  backimg="../public/fondReiserCopie3.jpeg"  backimgw="100%" backimgy="30px" backimgx="35px" style="size: A4;">
    <div id="cadre">

        <div>
            <div id="noms">
                {% if expert == "GR" %}<p>Elne{% elseif expert == "JC" %}<p>Narbonne{% elseif expert == "JLB" %}<p>Toulouse
                {% elseif expert == "SB" %}<p>Foix{% elseif expert == "BCE" %}<p>La Rochelle{% elseif expert == "PEC" %}<p>Montpellier
                {% elseif expert == "MC" %}<p>Poitiers{% elseif expert == "PC" %}<p>Avignon{% elseif expert == "NC" %}<p>Pau
                {% elseif expert == "TC" %}<p>Nice{% elseif expert == "OD" %}<p>Clermont-Ferrand{% elseif expert == "JD" %}<p>Nîmes{% elseif expert == "BE" %}
                <p>Marseille{% elseif expert == "FM" %}<p>Lyon{% elseif expert == "LM" %}<p>Bordeaux{% elseif expert == "AG" %}<p>Le Mans
                    {% endif %}, le {{ "now" | date("d/m/Y") }}</p>
                <p><b>{% if expertJud.civility == "MR" %}Monsieur {% elseif expertJud.civility == "MME" %}Madame {% endif %} {{ expertJud.firstname }} {{ expertJud.lastname | upper }}<br/>
              {{ expertJud.address }}<br/>
              {{ expertJud.zip }} {{ expertJud.town }}</b></p>
            </div>
            {% if expertJud.address is empty %}
                <div style="height: 50px; width: 100%; background-color: red; text-align: center">
                    <h1> Attention,des éléments sont manquants! mettez à jour la fiche client!</h1>
                </div>
            {% endif %}
            <div id="ref">
                <table   style="border-collapse: collapse">
                    <tr>
                        <td><b>N/RÉF :</b></td>
                        <td> {{ client.ref}}</td>
                    </tr>
                    <tr>
                        <td><b>Lieux expertise :</b></td>
                        <td>{{ lieuxexp  }}</td>
                    </tr>
                    <tr>
                        <td><b>V/Ref :</b></td>
                        <td> Ordonnance de référé du {{ dateRef |nl2br }}
                            MI n°{{ numref }}
                        </td>
                    </tr>
                </table>

            </div>
            <div id="corps_texte">

                <p>{% if expertJud.civility == "MR" %} Monsieur {% else%} Madame {% endif %} l'Expert,</p>

                <p>Je reviens vers vous concernant votre dossier {{ numref }} et fais suite à votre nomination par le tribunal de Grande Instance de
                    {{ tgi }}, vous commettant comme Expert Judiciaire dans cette affaire.</p>

                <p>Je vous {{ action }} que j'interviens à la demande de {% if client.civility == "MR" %} Monsieur {% elseif client.civility == "MME" %}
                        Madame {%  elseif client.civility == "Mme, M" or "Crt"%} Madame,Monsieur {%  elseif client.civility == " " %} la société {%  endif %}{{ client.firstname }} {{ client.lastname | upper }}, en qualité d'Expert Conseil, pour l'assister au
                    cours de vos opérations d'expertise.</p>

                <p>Je me tiendrai donc à votre disposition pour toutes réunions que vous estimerez nécessaire de provoquer.</p>

                <p>Néanmoins, avant toute réunion, vous serait-il possible de bien vouloir prendre contact avec mon secrétariat afin qu'en fonction de nos plannings
                    respectifs, j'aie la possibilité d'assister à vos opérations d'expertise?</p>

                {% if debut == "oui" %}
                    <p>À cet effet, je vous remercie de bien vouloir me transmettre les comptes-rendus que vous avez déjà établis.</p>
                {% endif %}

                <p>Vous souhaitant bonne réception de la présente et comptant sur votre compréhension,
                je vous prie d’agréer, {% if expertJud.civility == "MR" %}Monsieur {% else %} Madame {% endif %} l'expert, l’expression de mes sentiments dévoués.</p>


            </div>
            <div style="padding-left: 400px; margin-top: 40px">
                <img id="signature" src='../public/signature{{ expert }}.png' alt="signature">

            </div>
        </div>

        {#  Ai adapté une façon de changer le footer. méthode pas top. à changer dés que possible #}
        <div style="text-align: center; font-size: x-small; width: 100%; height: 30px;margin-bottom: -35px; line-height: 1px; position: absolute; bottom: 0; color: gray" >
            {% if expert == "GR" %}
                <p>Siège social et pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 535 111 678 00012 code NAF-APE : 7490A TVA: FR81535111678</p>
            {% elseif expert == "JC" %}
                <p>Siège social : ZAC Croix sud 55 rue Joseph Cugnot - 11000 NARBONNE</p>
                <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 833 707 771 000 22 code NAF-APE : 7120B TVA: FR53833707771 </p>
            {% elseif expert == "JLB" %}
                <p>Siège social : 22 Rue de la gaieté - 31400 TOULOUSE</p>
                <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 852 502 210 000 10 code NAF-APE : 7112B TVA: FR83852502210  </p>
            {% elseif expert == "SB" %}
                <p>Siège social : Hameau de Rabaute 09300 Pereille</p>
                <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 87846997200011 code NAF-APE : 7112B TVA: FR50878469972  </p>
            {% elseif expert == "BCE" %}
                <p>Siège social et pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 535 111 678 00012 code NAF-APE : 7490A TVA: FR81535111678</p>
            {% elseif expert == "PEC" %}
                <p>Siège social : 41 rue Rhin et Danube - 34410 Sérignan </p>
                <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 	879 771 50900012 code NAF-APE : 7112B TVA: FR23879771509  </p>
            {% elseif expert == "MC" %}
                <p>Siège social : 6 Rue de la trille Le Dognon - 86160 Saint-Maurice-La-Clouere</p>
                <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 878 667 971 000 13 code NAF-APE : 7490B TVA: FR19878667971</p>
            {% elseif expert == "PC" %}
                <p>Siège social et pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 535 111 678 00012 code NAF-APE : 7490A TVA: FR81535111678</p>
            {% elseif expert == "NC" %}
                <p>Siège social et pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 535 111 678 00012 code NAF-APE : 7490A TVA: FR81535111678</p>
            {% elseif expert == "TC" %}
                <p>Siège social : 229 Avenue de la Californie - 06200 Nice  </p>
                <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 84875178000034 code NAF-APE : 7120B TVA: FR17848751780 </p>
            {% elseif expert == "OD" %}
                <p>Siège social : Moulin de Clidane - 63760 BOOUG-LASTIC </p>
                <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 88396119500012 code NAF-APE : 7120B TVA: FR15883961195  </p>
            {% elseif expert == "JD" %}
                <p>Siège social et pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 535 111 678 00012 code NAF-APE : 7490A TVA: FR81535111678</p>
            {% elseif expert == "BE" %}
                <p>Siège social et pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 535 111 678 00012 code NAF-APE : 7490A TVA: FR81535111678</p>
            {% elseif expert == "FM" %}
                <p>Siège social : ZAC Croix sud 55 rue Joseph Cugnot - 11000 NARBONNE -  </p>
                <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 833 707 771 000 22 code NAF-APE : 7120B TVA: FR53833707771 </p>
            {% elseif expert == "LM" %}
                <p>Siège social : 4 Allée de la Clairière - 33650 MARTILLAC  </p>
                <p>Pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 852 551 746 000 13 code NAF-APE : 7120B TVA: FR87852551746  </p>
            {% elseif expert == "AG" %}
                <p>Siège social et pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
                <p>mail : contact@assistance-expertise-batiment.com</p>
                <p>siret : 535 111 678 00012 code NAF-APE : 7490A TVA: FR81535111678</p>
            {% endif %}
        </div>
    </div>
</page>

