<style type="text/css">

    body {

    }
    #cadre {
        border: 1px solid #1b1b1b;
        margin: 5px;
        padding: 5px;
        height: 95%;
    }

    #noms   {
        text-align: left;
        padding-left: 400px;
        margin-top: 100px;
        line-height: 1em;
        margin-bottom: 50px;
    }

    #ref {
        text-align: left;
        padding-left: 10px;
        /*padding-bottom: 5px;*/
        /*padding-top: 5px;*/
        /*border: 1px solid black;*/
        height: 30px;
        width: 60%;
    }
    #date_exp, #adresse_exp {
        /*border: 10px solid #1b1b1b ;*/
        text-align: center;
    }
    #corps_texte {
        margin-left: 180px;
        margin-right: 40px;
        text-align: justify;

    }
    td {
        border: solid 1px black
    }
    /*#expert {*/
    /*    text-align: right;*/
    /*    padding: 40px;*/
    /*}*/

</style>
<page  backimg="http://localhost/gestionCourrier/public/fondReiserCopie2.jpeg"  backimgw="100%" backimgy="30px" backimgx="35px" style="size: A4">


    <div id="cadre">
        <div id="header">

        </div>
        <div >
            <div id="noms">
                <p>Elne, le {{ "now" | date("d/m/Y") }}</p>
                <p>{{ societe.nom }}</p>
                <p>{{ societe.address }}</p>
                <p>{{ societe.zip }}</p>
                <p>{{ societe.town }}</p>
            </div>
            <div id="ref">
                <table   style="border-collapse: collapse">
                    <tr>
                        <td><b>N/RÉF :</b></td>
                        <td> {{ societe.ref}}</td>
                    </tr>
                    <tr>
                        <td><b>Lieux expertise :</b></td>
                        <td>{{ societe.address }}, {{ societe.zip }} {{ societe.town }}</td>
                    </tr>
                </table>

            </div>
            <div id="corps_texte">

                <p>Chère Madame, Cher Monsieur,</p>
                <p>Je reviens vers vous concernant votre dossier et, pour faire suite à la mission que vous m’avez confiée, vous prie de
                    bien vouloir trouver, annexée(s) à la présente, copie(s) de la (des) convocation(s) par courrier(s)
                    Recommandé(s) avec Accusé(s) de Réception que je transmets à l’entreprise xxxx, (ainsi qu’à xxxx, sa compagnie d’assurances)
                    (à l’ensemble des parties).</p>
                <p>Vous pourrez prendre note de ce que je procèderai à une réunion d’expertise contradictoire sur les lieux,</p>
                <p id="adresse_exp"><b>{{ societe.address }}, {{ societe.zip }} {{ societe.town }},</b></p>
                <p id="date_exp"><b>le {{ dateRdv | format_datetime('full', 'none', locale='fr') }} à {{ heureRdv }}</b></p>


                <p>Réunion à laquelle je vous remercie de bien vouloir être présent(e)(s).</p>

                <p>Vous souhaitant bonne réception de cet envoi, je vous prie d’agréer, Chère Madame, Cher Monsieur, l’expression de mes sentiments dévoués.
                </p>
            </div>
            <div style="padding-left: 400px; margin-top: 40px">
                <p id="expert" ><u>Geoffrey REISER</u></p>
                <img id="signature" src="../public/signatureGR.jpeg" alt="signature">

            </div>
        </div>
        <div style="text-align: center; font-size: x-small; width: 100%; height: 30px;margin-bottom: -35px; line-height: 1px; position: absolute; bottom: 0; color: gray" >
            <p>Siège social et pôle administratif : 1 boulevard Jacques Albert - 66200 ELNE - 09 70 24 68 44 </p>
            <p>mail : contact@assistance-expertise-batiment.com</p>
            <p>siret : 535 111 678 00012 code NAF-APE : 7490A TVA: FR81535111678</p>
        </div>

    </div>
</page>